<% provide(:title, "Home") %>

<section>
  <p>
  Welcome to the FullStack.coach Web App. 
  It's designed to make longterm code mentoring and tech coaching easier: 
  For students and coaches.
  </p>

  <p>More Information:</p>
  
  <button>I'm a student</button>
  <button>I'm a coach</button>
</section>