<header class="navbar navbar-fixed-top">
  <nav class="text-center">
    <%= link_to 'Login', '#' %> 
    <%= image_tag 'fsc-logo.svg', width: '150px' %>
    <%= link_to 'Registration', '#' %>
    <%= link_to 'How it Works', '#' %>
  </nav>
</header>
